@import "tailwindcss";
@plugin "daisyui"{
  themes: all;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.profile-animate {
  animation: profile_animate 8s ease-in-out infinite 1s;
}

/* 
@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(6px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.5s ease-in-out infinite;
} */

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.8s ease-in-out infinite;
}



html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}